@charset "UTF-8";
$a: white;
$b: black;
$c: #4580F6;
$d: #EC401C;
$e: #b50ae9;
$f: #DF7607;

a {
  text-decoration: none;
}

#ayudai {
  color: #EC401C;
  font-size: 35px;
  text-decoration-line: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ayudai2 {
  color: #040101;
  text-align: center;
  font-size: 17px;
  background-image: linear-gradient(to right top, #435c1a, #6fbe72, #629c52, #547b34, #435c1a, #313f00);
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border: solid 7px black;
  display: flex;
  flex-direction: column;
}

.ayudai1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vpp {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

#inicio {
  color: #b50ae9;
  font-size: 30px;
}

#titulos-principales {
  background-color: #343a40;
}


#nav-inmo {
  padding: 10px 35px 10px 35px;
  font-size: 20px;

}

#nav-inmo:hover {
  color: #DF7607;

}

#in14 {
  color: #DF7607;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#tenemos {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.vdp {
  color: #17378F;
  font-size: 25px;
}

#ti {
  color: #de7607;
  font-size: 26px;
  text-align: center;
  margin-top: 15px;
}

#cont {
  color: #ffffff;
  font-size: 21px;
  text-align: center;
}

.cet {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  margin-bottom: 15px;
}

.form {
  color: #111407;
  font-size: 18px;
  background-color: #C0701E;
  padding: 20px;
  border: solid 7px #693C0D;
  display: inline-block;
  text-align: center;
}

.imgP {
  height: 150px;
}

.imgP:hover {
  height: 200px;
}

#imagen {
  color: #4D2BE7;
  font-size: 30px;
}

#descripción {
  color: #71B223;
  font-size: 30px;
}

#caracteristicas {
  color: #DA6408;
  font-size: 30px;
}

#costo {
  color: #C9CB58;
  font-size: 30px;
}

.tipos1 {
  color: #000000;
  font-size: 20px;
}

.fotoDep {
  height: 225px;
}
.nosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.inP {
  border: solid 8px #885F00;
  background-color: #7B7056;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
  margin: 20px;
  width: 60%;
}

#pi14 {
  color: #1AE5AB;
  font-size: 35px;

  text-decoration-line: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  
}

.button-ayuda {
  border-radius: 4px;
  border: solid #DA6408 2px;
  box-shadow: #000000 2px 2px 2px 1px;
  background-color: #DA6408;
}

#form12 {

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#prop1 {

  display: flex;
  align-content: center;
  justify-content: center;
}

#cmi15 {

  display: flex;

  justify-content: center;
  color: #B60095;
  font-size: 40;

  text-decoration-line: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mc1 {

  display: flex;
  justify-content: center;
  color: black;
  font-size: 170%;
  text-decoration-line: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

#env {

  display: flex;
  margin-top: 12px;
  justify-content: center;
}

.form21 {

  display: flex;
  margin-top: 20px;
  justify-content: left;
}

#sub12 {

  display: flex;
  margin-top: 20px;
  justify-content: center;
}

#cuenta14 {

  display: flex;
  justify-content: center;
}

.contenedor {

  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#foot {
  background-color: #343a40;
  display: grid;
  align-content: center;
}

.enlace {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.imagen-departamentos {
  width: 300px;
}

.apple {
  background-color: #BFDAE8;
  
  align-items: center;
}

.text {
  background-color: white;
}

.head {
  background-color: black;
  display: grid;
}

.maina {
  background-image: url(Fotos/casadecampo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.mainc {
  background-image: url(Fotos/monoamb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainN {
  background-image: url(Fotos/vistapenth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
  
}

.mainp {
  height: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 25%;
}
.bodyP {
  @media all and (min-width: 700px) (min-height: 700px){
    align-content: center;
  }
}

/*# sourceMappingURL=style.css.map */